html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* project cards */
.container{
  display: flex;
  flex-direction: row;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(190, 189, 189);
  }
}



/* calculator */


.calculations-input{
  max-height: 75%; 
}


/* home page: introduction section */

.introduction-paragraph{
  display: flex;
  flex-direction: row;
  text-align: center;
 justify-content: center;
 margin-top: 5%;
}
